<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Oauth using Passport</h1>
    <p>Github Authentication Failed</p>
  </body>
</html>
