<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
    <style>
        p{
            font-size: 1.3rem;
            color: red;
        }
        h2{
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <h2> Authentication</h2>
    <p>Failed Login</p>
</body>
</html>