<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
    a{
      display: block;
      font-size: 1.2rem;
    }

  </style>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/github">Login With Github</a>
    <a href="/auth/google">Login With google</a>
  </body>
</html>